
h1 {
	text-align: center;
}

h4 {
  margin-top: 25px;
}

.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
 
}

.thumb {
  text-align: right;
}

.error {
	margin-right: 100px;
	margin-left: 100px;
}

.navigate {
	text-align: center;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}
